doctype html

html(lang="es")
	head
		title Hutek
		meta(charset="utf-8")
		link(href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" rel="stylesheet")
		link(href="../public/css/app.css" rel="stylesheet")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
	body
		block contenido